.App {
  display: flex;
}

.leftContainer {
  width: 70%;
}

.rightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100px;
}

.leftContainer img {
  width: 100%;
}
